.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon {
  padding: 4px;
  background-color: black;
  border-radius: 50px;
}

.iconSelected {
  background-color: yellow;
}
