.typeBackground {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: white;
  text-transform: capitalize;
  width: 66px;
  text-align: center;
  -webkit-text-stroke: 0.4px black;
}

.normal {
  background-color: #aa9 !important;
}

.fire {
  background-color: #f42;
}

.water {
  background-color: #39f;
}

.electric {
  background-color: #fc3;
}

.grass {
  background-color: #7c5;
}

.ice {
  background-color: #6cf;
}

.fighting {
  background-color: #b54;
}

.poison {
  background-color: #a59;
}

.ground {
  background-color: #db5;
}

.flying {
  background-color: #89f;
}

.psychic {
  background-color: #f59;
}

.bug {
  background-color: #ab2;
}

.rock {
  background-color: #ba6;
}

.ghost {
  background-color: #66b;
}

.dragon {
  background-color: #76e;
}

.dark {
  background-color: #754;
}

.steel {
  background-color: #aab;
}

.fairy {
  background-color: #e9e;
}
